{
  "presets" : [
    ["bbt",
      {
        "react": true,
        "roots": [
          {
            "rootPathPrefix": "~", "rootPathSuffix": "source/tech/js"
          },
          {
            "rootPathPrefix": "@", "rootPathSuffix": "source/data"
          }
        ]
      }
    ]
  ]
}