article
  padding: 0 0 50px 200px
  .wrapper
    margin: 0 auto
    max-width: 720px
    padding: 20px
    text-align: left

// Environment
.column-block
  display: flex
  .half
    width: 50%
    text-align: left


// Project Types
.project-types-list
  display: flex
  flex-direction: row
  flex-wrap: wrap
  > div
    padding: 15px 0
    width: 200px
    .project-types-title
        code
    .project-types-content


// Project Structures
.tree-column
  display: flex
  flex-direction: row
  > div
    width: 50%
    &:nth-child(2)
      background: #daecf1
      padding: 20px


// Configs
.configs-list ul
  padding: 0
  margin: 0
  display: flex
  li
    padding: 10px 15px
    &:hover
      background: #6d929b
      a
        color: #fff
  a
    text-transform: uppercase