.list-of-content
	display: flex
	flex-direction: row
	flex-wrap: wrap
	> ul
		width: 200px
		.fa
			margin-right: 10px
	.first-level
		> li:nth-child(1)
			background: #6D929B
			color: #fff
			padding: 5px
	.sub-level
		padding-left: 50px